:root {
  --primary: rgb(49, 130, 206);
  --light: white;
  --dark: black;
}

html {
  scroll-behavior: smooth !important;
}

body {
  max-width: 1280px;
  margin: 0 auto;

  box-sizing: border-box;
  font-family: "Fira Mono", monospace;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 16px 32px;
  background-color: white;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 1;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span{
  display:block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: black;
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;

  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: var(--primary);
}


.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
  background-color: var(--primary);
}

.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 - 16px;
  font-size: 16px;
}

.container a {
  color: var(--dark);
  margin: 0 16px;
  font-weight: 600;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 99px;

  scroll-behavior: smooth;
  transition: 2s;
  
}

.container a:hover {
  color: var(--primary);
  transition: 0.4s;
}

.name {
  font-size: 30px;
}

@media (min-width: 768px) {
  .hamburger {
      display: none;
  }
  .menu {
      display: flex;
  }
}


#home {
  min-height: 80vh;
  height: 100%;
  width: 100%;
  position: relative;
  align-items: center;
  margin-top: 200px;
}

#home-text {
  margin-bottom: 150px;
}

h1 {
  font-weight: 700;
  font-size: 50px;
}

.intro {
  color: var(--primary);
  margin-top: 33.5px;
  font-weight: 500;
  font-size: 32px;
}

.down-arrow {
  padding-top: 10%;
  max-width: 10%;
  height: auto;
}

.section-title {
  color: var(--primary);
}

.contactContainer {
  position: relative;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerContent {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.content h1{
  font-size: 38px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10%;

}

p {
  color: rgb(13, 15, 17);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
}

.content p {
  font-size: 16px;
  padding-right: 10%;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: black;
  color: white;
}

.contactForm .formBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
  font-family: "Fira Mono";
}

.contactForm .formBox input, .contactForm .formBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px;
  resize: none;
}

.top {
  max-width: 1280px;
  margin: 0 auto;
}

.experience {
  padding-bottom: 50px;
}

.experience h1 {
  font-weight: 700;
  font-size: 34px;
}

.experience h2 {
  font-weight: 700;
  font-size: 24px;
  color: rgb(49, 130, 206);
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(13, 15, 17);
  margin: 0.67em 0px;
}

section {
  margin-top: 160px;
  max-width: 1280px;
}

.proj-img{
  width: 1050.54px;
  height: 600px;
  background: 
    /* top, transparent red */ 
    linear-gradient(
      rgba(100, 100, 100, 0.45), 
      rgba(100, 100, 100, 0.45)
    ),
    /* bottom, image */
    url(/img/ml_project.png);
  background-size:1050.54px 600px;
}

.content-padding {
  padding: 50px 0 50px 50px;
}